body {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: #3e517a;

  border-color: #fdc2b0;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 40px auto;
  margin-bottom: 10px;
  max-width: 450px;
  padding: 30px;
}
h1 {
  color: #fdc2b0;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 30px;
  letter-spacing: 3px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  margin-bottom: 0;
}
button {
  background-color: #3e517a;
  border-color: #3e517a;
  box-sizing: 30px 30px;
  padding: 0px;
  color: none;
  border: none;
}
button:focus {
  outline: 0;
}
.fa-search {
  color: #fdc2b0;
}
.fa-map-marker-alt {
  color: #fdc2b0;
}
.search {
  display: inline;
}
.weather-info strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  margin: 15px 0px;
}
.weather-info .units {
  position: relative;
  font-size: 16px;
  top: -32px;
  letter-spacing: 3px;
  color: white;
}
.weather-info .active {
  color: white;
  cursor: default;
}
a {
  color: #56a0ee;
}
.weather-info .active:hover {
  text-decoration: none;
}
.weather-description {
  text-transform: capitalize;
}
#current-icon {
  font-size: small;
  display: inline;
  float: left;
  height: 60px;
}
.forecast {
  padding: 0px;
}
.forecast-images {
  font-size: small;
}

.search-bar {
  margin-right: 5px;
  width: 80%;
  background-color: #3e517a;
  border: 2px solid #fdb99d;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 5px;
  color: white;
}
.search-bar:focus {
  box-shadow: 0 0 0 0.1rem #fdb99d;
  border: 1px solid #fdb99d;
  outline: 0;
}
::placeholder {
  color: white;
  opacity: 0.5;
}
.today {
  display: inline;
}
.current-date {
  margin-top: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-weight: 450;
}
.col-4 {
  float: right;
  position: relative;
  margin-top: 0;
  width: 40%;
  padding: left;
}
.fa-search {
  padding: 5px;
}
.fa-map-marker-alt {
  padding: 5px;
}
.forecast {
  margin: auto;
  text-align: center;
}
.link {
  margin: 0 auto;
  max-width: 450px;
  display: block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  color: black;
}
#wind {
  font-weight: 700;
  font-size: 16px;
  color: #fdc2b0;
}
#humidity {
  font-weight: 700;
  font-size: 16px;
  color: #fdc2b0;
}
