.search {
  display: inline;
}

#location {
  display: inline;
}
.search-bar {
  margin-right: 5px;
  width: 80%;
}
.today {
  display: inline;
}
.current-date {
  display: inline;
}
.fa-search {
  padding: 5px;
}
.fa-map-marker-alt {
  padding: 5px;
}
.forecast {
  margin: auto;
  text-align: center;
}
.container {
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  margin-bottom: 10px;
  padding: 30px;
  max-width: 450px;
  border: 1px solid black;
}
.link {
  margin: 0 auto;
  max-width: 450px;
  display: block;
}
